.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0rem 1rem;
    background-color: #1b31497f;
}
.img {
    width: 6rem;
    height: 6rem;
}
.listado {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    list-style-type: none;
}
.listado img {
    width: 5rem;
    height: 5rem;
}
.titulo {
    font-size: 4rem;
    font-weight: 525;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5rem;
}